:root {
     --outfit: "Outfit", sans-serif;
     --dmsans: "DM Sans", sans-serif;
     --darkbg: #f7f9fc;
     --bg: #e2e6ee;
     --text: #2e2e48;
     --textdark: #47516b;
     --text2: #79819a;
     --blue: #516cf7;
     --purple: #9251f7;
}

body {
     font-family: var(--dmsans);
     box-sizing: border-box;
     display: flex;
}

ul {
     margin: 0;
     padding: 0;
}

.sidebar {
     width: 32%;
     background-color: var(--darkbg);
}

.main {
     width: 68%;
     margin-left: 40px;
     margin-right: 48px;
     padding-top: 64px;
}

#close-quote {
     margin-left: 4px;
}

.sidebar__section {
     display: flex;
     flex-direction: column;
     gap: 24px;
     margin-left: 13%;
     margin-right: 13%;
}

.sidebar__content {
     display: flex;
     flex-direction: column;
     gap: 24px;
}

.sidebar__quotes img {
     margin-right: 4px;
}

.text--small {
     font-size: 12px;
     color: var(--text2);
}

.text--base {
     font-size: 14px;
     font-weight: 500;
}

.text--tiny {
     font-size: 10px;
     color: var(--textdark);
}

.sidebar__author {
     margin-top: 4px;
}

.sidebar__image-wrapper {
     aspect-ratio: 2/1;
     overflow: hidden;
}

.sidebar__image {
     width: 100%;
     object-position: 0 20%;
     object-fit: cover;
}

.divider {
     margin-top: 32px;
     margin-bottom: 32px;
     margin-left: 13%;
     margin-right: 13%;
     border: 1px solid #e2e6ee;
}

.sidebar__icon-wrapper {
     background-color: #e2e6ee;
     border-radius: 50%;
     width: 32px;
     height: 32px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.sidebar__icon-wrapper--dribble {
     background-color: #ea4c89;
}

.sidebar__icon-wrapper--twitter {
     background-color: #00acee;
}

.sidebar__icon-wrapper--linkedin {
     background-color: #0077b5;
}

.sidebar__flag {
     width: 32px;
     height: 24px;
}

.sidebar__name {
     font-family: var(--outfit);
     font-size: 32px;
     font-style: normal;
     font-weight: 500;
}

.sidebar__heading {
     margin-top: 32px;
}

.sidebar__role {
     font-family: var(--outfit);
     font-size: 24.242px;
     font-style: normal;
     font-weight: 500;
     color: var(--purple);
     margin-top: 8px;
}

.quotes {
     color: var(--textdark);
     font-family: var(--outfit);
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
}

.quotes div {
     margin-top: 4px;
}

.sidebar__text :nth-child(1) {
     font-size: 12px;
     color: var(--text2);
}

.sidebar__text :nth-child(2) {
     font-size: 14px;
     color: var(--textdark);
     margin-top: 4px;
}

.sidebar__flex-container {
     display: flex;
     gap: 1rem;
     min-width: 140px;
}

.main__timeline > section {
     margin-bottom: 48px;
}

.main__title {
     font-family: var(--outfit);
     font-size: 24px;
     font-weight: 500;
     margin-bottom: 32px;
}

.main__flex-container {
     width: 100%;
     display: flex;
     gap: 8px;
}

.main__flex-container--tools {
     flex-wrap: wrap;
}

.main__flex-wrapper {
     display: flex;
     gap: 8px;
}

.card {
     background-color: var(--darkbg);
}

.card--project {
     padding: 24px;
     flex-grow: 1;
}

.main__project-heading {
     display: flex;
     gap: 16px;
}

.main__project-detail {
     font-size: 14px;
     color: var(--text2);
     margin-top: 4px;
}

.main__links {
     margin-top: 16px;
     display: flex;
     align-items: center;
     gap: 12px;
}

.main__logo-wrapper {
     width: 24px;
     height: 24px;
     background-color: #e1e7fe;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.main__links a {
     font-weight: 600;
     color: var(--blue);
     text-decoration: none;
}

.main__experience-content {
     display: flex;
     justify-content: space-between;
     gap: 15%;
     margin-bottom: 1.5rem;
}

.main__experience-header {
     min-width: 200px;
}

.main__dates {
     display: flex;
     align-items: center;
}

.main__experience-heading {
     display: flex;
     gap: 1rem;
     margin-top: 8px;
}

.main__experience-logo img {
     height: 40px;
     width: 40px;
}

.experience-content :first-child {
     margin-bottom: 4px;
}

.main__experience-desc {
     font-size: 10px;
     color: var(--text2);
     max-width: 415px;
}

.card--education {
     padding: 16px 24px 16px 24px;
     flex-grow: 1;
}

.main__education-header {
     display: flex;
     gap: 16px;
     align-items: center;
}

.main__education-header :last-child {
     font-size: 12px;
     font-weight: 500;
}

.main__education-detail {
     margin-top: 8px;
}

.main__design-heading {
     padding-top: 16px;
     padding-bottom: 16px;
     width: 113px;
}

.main__design-heading .text--base {
     margin-top: 8px;
}

.main__logo-wrapper--design {
     background-color: #efe2f9;
}

.skills-card {
     background-color: var(--darkbg);
     color: var(--purple);
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 16px;
     text-align: center;
     flex-grow: 1;
}

.skills-card--development {
     color: var(--blue);
}

.skills-card--separator {
     padding: 16px;
}

.skills-card--small {
     max-width: 50px;
}

.skills-card--lists ul {
     margin-left: 20px;
     text-align: start;
}

.separator-line {
     height: 100%;
     width: 1.1px;
     background-color: var(--bg);
     margin-inline: 8px;
}

.development {
     margin-top: 16px;
}

.development .separator-line {
     margin-inline: 16px;
}

.separator-horizontal {
     height: 1.01px;
     background-color: var(--bg);
     width: 100%;
     margin: 8px 0 8px;
}

.separator :first-child,
.separator :last-child {
     max-width: 83px;
     /* text-align: center; */
}

.tool-card {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 16px 8px 16px 8px;
     background-color: var(--darkbg);
     width: 132px;
     flex-grow: 1;
}

.tool-card--big {
     min-width: 168px;
}

.tool-card--big img {
     height: 48px;
     aspect-ratio: 1/1;
}

.tool-card img {
     height: 32px;
     aspect-ratio: 1/1;
}

.tool-bottom {
     margin-top: 8px;
     text-align: center;
}

.main__timeline {
     position: relative;
}

.main__timeline::after {
     content: "";
     position: absolute;
     width: 2px;
     background-color: var(--bg);
     top: 0;
     bottom: 0;
     left: 0;
}

.main__section {
     padding-left: 48px;
     position: relative;
}

.main__timeline > section::after {
     box-sizing: border-box;
     border: 12px solid white;
     content: "";
     position: absolute;
     width: 32px;
     height: 32px;
     background-color: var(--purple);
     box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
          0 2px 4px -2px rgb(0 0 0 / 0.1);
     top: -5px;
     left: -16px;
     border-radius: 50%;
     z-index: 1;
}

.main__experience-container {
     position: relative;
}

.main__experience-container::after {
     content: "";
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     width: 2px;
     background-color: var(--darkbg);
}
.main__experience-content {
     position: relative;
     padding-left: 20px;
}

.main__experience-content::after {
     content: "";
     position: absolute;
     z-index: 1;
     box-sizing: border-box;
     left: -12px;
     top: -5px;
     background-color: var(--textdark);
     border: 10px solid white;
     border-radius: 50%;
     height: 24px;
     width: 24px;
}

@media screen and (max-width: 836px) {
     body {
          flex-direction: column;
     }

     .sidebar {
          width: 100%;
     }

     .main {
          width: auto;
     }

     .sidebar__section--contact {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: start;
     }

     .sidebar__content {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
     }

     .main__flex-container {
          flex-direction: column;
     }

     .main__experience-content {
          flex-direction: column;
          gap: 16px;
     }

     .card--education {
          max-width: none;
          width: auto;
     }

     .skills-card--small {
          max-width: none;
     }

     .tool-card {
          width: auto;
     }
     .tool-card--big {
          min-width: fit-content;
     }
     .tool-card--big img {
          height: 32px;
          aspect-ratio: 1/1;
     }
}

@media screen and (max-width: 445px) {
     .sidebar__section {
          margin-inline: 35px;
          column-gap: 6px;
     }

     .main {
          margin-left: 25px;
          margin-right: 30px;
     }

     .main__timeline > section {
          padding-left: 35px;
     }

     .sidebar__flex-container {
          gap: 0.5rem;
     }
}
